<% if logged_in? %>
<div class="text-center">
  <h1>Top page</h1>
</div>  
<div class="center jumbotron">
  <div class="text-center">
  <div class="row">
    <div class ="col-sm-8">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
  </div>
</div>
<% else %>

<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the Traveler</h1>
    <%= link_to 'sign up' , signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>

<% end %>