<% if logged_in? %>
<div class="text-center">
  <h1>Top page</h1>
</div>  
  <div class="row">
    <div class ="col-sm-12">
      <%= render 'posts/posts', posts: @posts %>
    </div>
</div>
<% else %>

<div class="center jumbotron bg-white">
  <div class="text-center">
    <h1>Welcome to the Traveler</h1>
    <p>～旅行での思い出を日記感覚で綴ろう～</p>
    <div class="mt-3">
    <%= link_to 'sign up' , signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
</div>

<% end %>